@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
:root {
    --principal-fte: 'Poppins', sans-serif;
    --color-pink: #fc4a55;
    --color-white: #fff;
    --color-gray: #333;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: var(--principal-fte);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-pink);
    transition: 0.5s;
}

.bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    font-weight: 600;
    color: var(--color-white);
    text-decoration: none;
    font-size: 2em;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
}

header .navigation li a {
    display: inline-block;
    color: var(--color-white);
    text-decoration: none;
    font-weight: 400;
    margin-left: 1rem;
    padding: .8rem 1.5rem;
    border-radius: 4rem;
}

header .navigation li a.active,
header .navigation li a:hover {
    background: var(--color-white);
    color: var(--color-gray);
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 60rem;
}

.content .textBox h2 {
    color: var(--color-white);
    font-size: 4em;
    line-height: 1.2em;
    font-weight: 700;
    text-transform: capitalize;
}

.content .textBox p {
    color: var(--color-white);
    margin-top: 2rem;
}

.content .textBox a {
    display: inline-block;
    margin-top: 2rem;
    padding: .8rem 2rem;
    background: var(--color-white);
    color: var(--color-gray);
    border-radius: 4rem;
    font-weight: 500;
    letter-spacing: .1rem;
    text-decoration: none;
}

.content .imgBox {
    position: relative;
    z-index: 1;
    width: 60rem;
    display: flex;
    justify-content: flex-end;
}

.content .imgBox img {
    max-width: 40rem;
}

.thumb {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    bottom: 2rem;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 1rem;
    cursor: pointer;
    transition: 0.5s;
    height: 7rem;
    background: rgba(255, 255, 255, 0.1);
    padding: .5rem;
    border: .2rem solid rgba(255, 255, 255, 0.25);
}

.thumb li.active {
    border: .2rem solid rgba(255, 255, 255, 1);
}

.thumb li::before {
    position: absolute;
    top: -20rem;
    left: -10rem;
    content: attr(data-text);
    white-space: nowrap;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.08);
    opacity: 0;
    font-weight: 700;
    pointer-events: none;
}

.thumb li.active::before {
    opacity: 1;
}

.thumb li img {
    max-width: 6rem;
}

.sci {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin: .5rem 0;
    transform: scale(0.6);
    filter: invert();
}